<div class="row">
    <div class="col-12">
        <img class="product-thumbnail" src="../img/pid/{{ProID}}/main.jpg" alt="{{ProID}}"
            class="ml-lg-5 order-1 order-lg-2">
    </div>
</div>

<div class="row">
    <div class="col-12">
        <form class="m-3" action="/product/thumbnail?ProID={{ProID}}&&CatID={{CatID}}" method="post"
            enctype="multipart/form-data">
            <label for="formFileSm" class="form-label">Chose thumbnail (.jpg)</label>
            <input class="form-control form-control-sm" id="formFileSm" type="file" name="thumbnail">
            <input type="submit" value="upload" class="mt-3">
        </form>
    </div>
</div>