<div class="row">
    <div class="col-12">
        <div class="card bg-light align-items-center">
            <article class="card-body w-75">
                <h4 class="card-title mt-3 text-center">Create Account</h4>
                <p class="text-center">Get started with your free account</p>
                <form method="post" action="/authorization/signup" id="signup-form">
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><b>Fullname:</b></span>
                        </div>
                        <input id="fullname" name="name" class="form-control" placeholder="Full name" type="text">
                        <div class="form-message"></div>
                    </div> <!-- form-group// -->

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><b>Username:</b></span>
                        </div>
                        <input id="username" name="username" class="form-control" placeholder="Username" type="text">
                        <div class="form-message"></div>
                    </div> <!-- form-group// -->

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <b>Address:</b></span>
                        </div>
                        <input id="address" name="address" class="form-control" placeholder="Your Address" type="text">
                        <div class="form-message"></div>
                    </div> <!-- form-group// -->

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <b>Password:</b> </span>
                        </div>
                        <input id="password" name="password" class="form-control" placeholder="Create password"
                            type="password">
                        <div class="form-message"></div>
                    </div> <!-- form-group// -->

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <b>Confirm:</b> </span>
                        </div>
                        <input id="repeat-password" class="form-control" placeholder="Repeat password" type="password">
                        <div class="form-message"></div>
                    </div> <!-- form-group// -->

                    <div class="form-group mt-2 d-flex flex-column align-items-center">
                        <button type="submit" class="btn btn-primary btn-block"> Create Account </button>
                    </div> <!-- form-group// -->
                </form>
            </article>
        </div> <!-- card.// -->
    </div>
</div>

<script src="../js/form.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        Validator({
            form: '#signup-form',
            formGroupSelector: '.form-group',
            errorSelector: '.form-message',
            rules: [
                Validator.isRequired('#fullname', 'Vui lòng nhập tên đầy đủ của bạn'),
                Validator.isRequired('#username', 'Vui lòng nhập username'),
                Validator.isRequired('#address', 'Vui lòng nhập email'),
                Validator.isRequired('#password', 'Vui lòng nhập mật khẩu'),
                Validator.isRequired('#repeat-password', 'Vui lòng xác nhận mật khẩu'),

                Validator.isValidUsername('#username'),
                Validator.isValidPassword('#password'),
                Validator.confirmPassword('#repeat-password', '#password', 'Mật khẩu xác nhận không hợp lệ'),
            ],
        })
    });
</script>