<div class="row">
    <div class="col-12">
        <form method="post" action="/category/add">
            <div class="mb-3">
                <label for="CatID" class="form-label">Category ID</label>
                <input name="CatID" type="text" class="form-control" id="CatID" value="{{CatID}}" readonly>
            </div>
            <div class="mb-3">
                <label for="CatName" class="form-label">Category Name</label>
                <input name="CatName" type="text" class="form-control" id="CatName" value="{{CatName}}" required>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>